@font-face {
    font-family: 'Kanit';
    src: url('fonts/Kanit/Kanit-Light.ttf');
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Kanit';
}

#main-container {
    background-color: #050505;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: .5s ease all;
}

#div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 20px;
    width: 50%;
    height: 400px;
}

#result-password {
    width: 70%;
    border: 1px solid #333;
    flex: .5;
}

#result-password h2{
    color: #f1f1f1;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

#result-password #password {
    color: #858383;
    text-align: center;
    font-size: .8rem;
    transition: .2s ease-out all;
    opacity: 0;
    margin-top: 20px;
}

#result-password #password.password-active {
    opacity: 1;
}

#insert-details-password {
    width: 70%;
    flex: 1;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    padding: .7rem;
    width: 30%;
    background-color: transparent;
    border: 1px solid #333;
    color: #f1f1f1;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: .7rem;
}

#button-generator-password {
    background-color: #14f;
    color: #f1f1f1;
    box-shadow: 1px 1px 2px #14f;
    border: none;
    margin-top: 15px;
    width: 80px;
    text-align: center;
    height: 30px;
    font-size: .7rem;
    transition: .8s ease all;
}

#button-generator-password:hover {
    box-shadow: 1px 1px 10px #14f;
}

#message-error {
    position: relative;
    color: #f72e2e;
    font-size: .8rem;
    top: 5px;
    opacity: 0;
    transition: .2s;
}

#message-error.message-error-active {
    opacity: 1;
}

#button-change-theme {
    position: absolute;
    height: 35px;
    width: 35px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    border: none;
    pointer-events: painted;
}

#button-change-theme:hover {
    box-shadow: 1px 1px 10px #f1f1f1;
}

#button-change-theme.change-theme {
    background-color: #050505;
}

#button-change-theme.change-theme:hover {
    box-shadow: 1px 1px 10px #050505;
}

#main-container.change-theme {
    background-color: #f1f1f1;
}

#result-password.change-theme,
input.change-theme,
#insert-details-password.change-theme {
    border: 1px solid #33333330;
}

#result-password h2.change-theme {
    color: #050505;
}

input.change-theme {
    color: #050505;
}