@font-face {
    font-family: 'Kanit';
    src: url('fonts/Kanit/Kanit-Light.ttf');
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Kanit';
}

#main-container {
    background-color: #050505;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: .5s ease all;
}

#div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 20px;
    width: 50%;
    height: 400px;
}

#result-password {
    width: 70%;
    border: 1px solid #333;
    flex: .5;
}

#result-password h2{
    color: #f1f1f1;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

#result-password #password {
    color: #858383;
    text-align: center;
    font-size: .8rem;
    transition: .2s ease-out all;
    opacity: 0;
    margin-top: 20px;
}

#result-password #password.password-active {
    opacity: 1;
}

#insert-details-password {
    width: 70%;
    flex: 1;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 30%;
    background-color: transparent;
    border: 1px solid #333;
    color: #f1f1f1;
    margin-top: 5px;
    cursor: pointer;
}

input:focus {
    outline: none;
}

#button-generator-password {
    background-color: #173ab9;
    color: #f1f1f1;
    box-shadow: 1px 1px 2px #14f;
    border: none;
    margin-top: 15px;
    width: 100px;
    text-align: center;
    height: 40px;
    font-size: .8rem;
    transition: .3s ease all;
    cursor: pointer;
}

#button-generator-password:hover {
    box-shadow: 1px 1px 5px #14f;
}

.range_password {
    color: #f9f9f9;
}